.container {
  min-height: 100vh;
  padding: 2rem;
  color: #ffffff;
  display: flex;
  justify-content: center;
}

.card {
  max-width: 1100px;
  width: 100%;
  background: rgba(0, 0, 0, 0.65);
  backdrop-filter: blur(6px);
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 0 25px rgba(0,0,0,0.6);
}

.backButton {
  
  background: #FF4500;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 1rem;
  padding: 1rem;
  transition: 0.2s;
}

.backButton:hover {
  color: #f5c518; /* amarillo tipo imdb */
}

.backdrop {
  width: 100%;
  height: 420px;
  object-fit: cover;
  border-radius: 25px;
  transition: 0.5s;
}
.backdrop:hover{
    transform: scale(1.02);
    transition: 0.5s;
}

.content {
  padding: 1.5rem 2rem;
}

.title {
  font-size: 2.2rem;
  margin-bottom: 1rem;
}

.meta {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 1rem;
  margin-bottom: 1.5rem;
}

.tag {
  background: #222;
  padding: 0.6rem 1rem;
  border-radius: 8px;
  text-align: center;
}

.rating {
  color: #f5c518;
  font-weight: bold;
}