.container {
 
  padding: 2rem 1rem; 
  margin-bottom: 2.5rem; 
  max-width: 1400px; /*limitar este si no funca la barra */
  margin-left: auto;
  margin-right: auto;
}

.container h2 {
  color: #f9f9f9;
  font-size: 2.2rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
  text-align: left; 
  padding-left: 2rem;
}