.card {
  background-color: #282c34;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  transition: transform 0.2s ease-in-out;
  display: flex;
  flex-direction: column;
  

  max-width: 300px; 
  min-width: 300px; 
  width: 300px;    

  
  max-height: 450px;
  height: auto; 
}

.card:hover {
  transform: translateY(-5px); 
}

.poster {
  width: 100%; 
  height: 300px; 
  object-fit: cover;
  border-bottom: 1px solid #3a3f47; 
}

.info {
  padding: 1rem;
  text-align: left;
  flex-grow: 1; 
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.title {
  font-size: 1.2rem;
  margin-top: 0;
  margin-bottom: 0.5rem;
  color: #ff4500; 
}

.generos {
  font-size: 0.85rem;
  color: #bbb;
  margin-top: 0.5rem;
  line-height: 1.4; 
}

.genreTag {
  background-color: #4a4f57;
  color: white;
  padding: 0.2rem 0.6rem;
  border-radius: 4px;
  margin-right: 0.4rem;
  display: inline-block; 
  margin-bottom: 0.4rem;
}