.header {
  background-color: #0d0e1b; 
  padding: 1rem 2rem;

  display: flex; 
  justify-content: space-between; 
  align-items: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  margin-bottom: 2rem; 
}

.title {
  margin: 0;
  font-size: 1.8rem;
  color: #a0a8ff; 
}

.navList {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex; 
  gap: 1.5rem;
}

.navItem a {
  text-decoration: none;
  color: #f9f9f9;
  font-size: 1rem;
  transition: color 0.3s;
}

.navItem a:hover {
  color: #a0a8ff;
}