
.container {
  margin-top: 2rem;
  
  background: linear-gradient(90deg,rgb(19, 18, 18) 0%, rgb(39, 22, 22)
   50%, rgb(34, 30, 24) 100%);
  border-radius: 12px;
  padding-left: 4px;
  padding-right: 4px;
}

.commentCard {
  background: rgba(17, 16, 27, 0.6);
  border-radius: 12px;
  padding: 1rem;
  margin-bottom: 1rem;
}

.header {
  display: flex;
  justify-content: space-between;
  color: #fff;
}

.text {
  margin-top: 0.5rem;
  color: #ddd;
}

.empty {
  opacity: 0.7;
}