
.appBackgroundLayer {
  position: fixed;
  inset: 0;
  width: 100vw;
  height: 100vh;
  z-index: -2;
}

.appContentLayer {
    position: relative; 
    z-index: 1; 
    
    padding: 0; 
    margin: 0;
    
    background-color: rgba(0, 0, 0, 0.5); 
    min-height: 100vh; /* Para asegurar que el contenedor de contenido se extienda */
}

