body {
  margin: 0;
  font-family: 'Inter', sans-serif; 
  background-color: #040714; /* Fondo oscuro tipo Disney+ sino yt music gris*/
  color: #f9f9f9; 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}