/* --- NUEVO ESTILO: Contenedor para el scroll horizontal --- */
.scrollContainer {
  overflow-x: auto; 
  padding-left: 2rem; 
  padding-right: 2rem;
  margin-left: -2rem; 
  margin-right: -2rem; 
  margin-bottom: 2rem; 
  padding-bottom: 50px;
}

.scrollContainer::-webkit-scrollbar {
  display: none;
}

.listGrid {
  display: flex; 
  flex-wrap: nowrap; 
  grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
  gap: 20px;
  padding: 20px 0; 
  justify-content: flex-start; 
  
  max-width: none;
  margin: 0; 
}
.scrollContainer::-webkit-scrollbar {
  height: 10px; 
  display: block; 
}

.scrollContainer::-webkit-scrollbar-track {
  background: #0d0e1b; 
}

.scrollContainer::-webkit-scrollbar-thumb {
  background-color: #555555; 
  border-radius: 5px;
  border: 2px solid #0d0e1b; 
}

@media (max-width: 768px) {
    .listGrid {
        /* En tabletas y móviles más anchos, mostramos 3 o 4 columnas */
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        gap: 15px;
    }
}

@media (max-width: 500px) {
    .listGrid {
        /* En móviles pequeños, cambiamos a 2 columnas fijas o un poco más grandes */
        grid-template-columns: repeat(2, 1fr); 
        gap: 10px;
    }
}

@media (max-width: 380px) {
    .listGrid {
        /* Opcional: En móviles muy pequeños, podemos volver a una sola columna */
        grid-template-columns: 1fr; 
    }
}